body.html {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://st2.depositphotos.com/1605581/8381/i/450/depositphotos_83819270-stock-photo-blue-gradient-background.jpg');
    background-size: cover;
}

.Cadrastro {
    width: 25rem;
    height: 25rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    animation: fadeIn 1s ease-in-out;
}

/*Animação que vai ser realizada*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.titulo {
    font-weight: bolder;
    margin-bottom: 1.2rem;
}

.descricao {
    color: grey;
}

.Botões {
    margin-block: 1rem;
}